<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784755609844-1i0bibj319lqk0khkebu940mun7u8lab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784755609844-1i0bibj319lqk0khkebu940mun7u8lab</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>784755609844-1gl2uggidug1rmprdfu6c1jrhpflsklp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD54waPPv3h6tuDE_zifxqbrRxcIkCFqUM</string>
	<key>GCM_SENDER_ID</key>
	<string>784755609844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mtms</string>
	<key>PROJECT_ID</key>
	<string>mtms-248409</string>
	<key>STORAGE_BUCKET</key>
	<string>mtms-248409.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784755609844:ios:e25d06fc025c127c</string>
	<key>DATABASE_URL</key>
	<string>https://mtms-248409.firebaseio.com</string>
</dict>
</plist>